.component {
  display: block;
  width: 100%;
  max-width: 140px;
  padding: 12px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  background: white;
  
  &:focus-visible {
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: #326EFF;
  }

  &:focus-visible,
  &:hover {
    color: #fff;
    background: var(--backgroundColor);
  }
}